<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
            <title>Main</title>
            <meta name="description"content="t01. Turn around...">
            <link rel="stylesheet" href="view/templates/style/style.css">
    </head>
    <body>
        <div><p><a href="view/templates/login.html"><button>Log in</button></a></p>
        <p><a href="view/templates/registration.html"><button>Registration</button></a></p>
        <p><a href="view/templates/reminder.html"><button>Remind password</button></a></p></div>
    </body>