<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
            <title>Registration</title>
            <meta name="description"content="t01. Turn around...">
                <link rel="stylesheet" href="../templates/style/style.css">
    </head>
    <body>
        <button class="disabled" disabled>Register</button>
        <a href="/t06/view/templates/login.html"><button class="active">Log in</button></a>
        <a href="/t06/view/templates/reminder.html"><button class="active">Remind password</button></a>
        <form action="/t06/view/registration.php" name="regist" onsubmit="return validate()" method="POST">
            <h1>Registration</h1>
            <p><input autofocus required type="text" name="login" placeholder="login"></p>
            <p><input required type="text" name="FullName" placeholder="Full name"></p>
            <p><input required type="text" name="email" placeholder="Email address"></p>
            <p><input required type="password" name="password" placeholder="password"></p>
            <p><input required type="password" name="confirm" placeholder="Confirm password"></p>
            <input type="submit" name="register" value="register">
        </form>
        <script src="../templates/js/script.js"></script>
    </body>
