body {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: palevioletred;
    font-weight: 900;
}
h2 {
    text-align: center;
    color: gray;
}
.check-input span {
    word-break: normal;
    padding: 10px 20px;
    margin: 10px;
    word-break: normal;
    border: 1px solid black;
    border-radius: 100px;
    white-space: nowrap;
}
.row {
    margin: 50px 50px;
    text-align: center;
}

.check-input input[type="checkbox"]:checked+span {
    background-color: rgb(11, 11, 150);
    color: white;
}

input[type="checkbox"]:checked+span::after {
    content: "\2713";
}
input[type="checkbox"] {
    opacity: 0;
}
.info {
    margin: 10px 10px;
    display: flexbox;
}
.info div {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
input[type="submit"] {
    width: 100%;
    color: white;
    background-color: palevioletred;
    padding: 20px;
}
input[type="text"], input[type="email"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.info div input[type="text"], input[type="email"] {
    width: 45%;
}
input[type="submit"]:hover {
    transition: all 1s ease;
    background-color: rgb(59, 148, 20);
}