RewriteEngine On
RewriteCond %{HTTP_HOST} !http://localhost:3000/t03/index.php?data=somedata&filter=somefilter$ [NC]
RewriteRule ^(.*)$ http://localhost:3000/t03/index.php?data=somedata&filter=somefilter$ [L,R=301]